<section class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
    @for (document of documents; track document.id) {
        <mat-card class="card my-1" appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Name not implemented</mat-card-title>
                    <mat-card-subtitle>SchemaId: {{ document.schemaId }}</mat-card-subtitle>
                    <mat-icon fontIcon="description"></mat-icon>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <section class="button-container d-flex align-items-center justify-content-center">
                    <button mat-raised-button color="primary" [routerLink]="['/view-document', document.id]">View</button>
                    <button mat-raised-button color="primary" (click)="openDialog()">Download</button>
                </section>
            </mat-card-content>
        </mat-card>
    }
</section>
