.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button:nth-child(1) {
        margin-bottom: 20px;
    }

    button:nth-child(2) {
        margin-top: 20px;
    }

    button {
        padding: 20px 10px;
        width: 50vw;
    }
}
